.row {
    color: #fff;
    margin-left: 20px;
}
.row_posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 10px;
}

.row_posters::-webkit-scrollbar{
    display: none;
}

.row_poster {
    object-fit: contain;
    width: 100%;
    max-height: 125px;
    transition: transform 450ms;
    margin-left: 10px;
}

.row_poster:hover {
    transform: scale(1.05)
}

.row_posterLarge {
 max-height: 250px;   
}

.row_posterLarge:hover {
    transform: scale(1.09)

}